# {{ ansible_managed }}
user  nginx;
worker_processes  {{ nginx_worker_processes }};

error_log  {{ nginx_log_path }}/error.log;
pid        /var/run/nginx/nginx.pid;

events {
  worker_connections  {{ nginx_max_connections }};
}

http {
  include       mime.types;
  default_type  application/octet-stream;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
  '$status $body_bytes_sent "$http_referer" '
  '"$http_user_agent" "$http_x_forwarded_for"';

  sendfile        on;
  #tcp_nopush     on;

  keepalive_timeout  65;

  #gzip  on;

  server {
    listen       {{ nginx_host }}:8081;
    server_name  localhost;

    access_log  {{ nginx_log_path }}/http.access.log;
    error_log  {{ nginx_log_path }}/http.error.log;

    # Redirect all HTTP requests to HTTPS
    location / {
      return 301 https://$http_host$request_uri;
    }
  }

  # HTTPS server
  server {
    listen       8443 ssl;
    server_name  localhost;

    access_log  {{ nginx_log_path }}/https.access.log;
    error_log  {{ nginx_log_path }}/https.error.log;

    ssl_certificate      {{ nginx_ssl_path }}/{{ nginx_ssl_certificate }};
    ssl_certificate_key  {{ nginx_ssl_path }}/{{ nginx_ssl_private_key }};

    ssl_session_cache    shared:SSL:1m;
    ssl_session_timeout  5m;

    ssl_ciphers  HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers  on;

    location / {
      proxy_pass {{ nginx_proxy_path }};
        proxy_set_header Host $http_host;
      gzip off; # for troubleshooting using ngrep, should be removed for production configuration
    }

    location ~* \.(jpg|jpeg|png|gif|ico|css|js)$ {
      root {{ nginx_static_content_path }};
      expires 1M;
    }
  }
}