# {{ ansible_managed }}
# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

ExecStart={{ tomcat_path }}/bin/startup.sh
ExecStop={{ tomcat_path }}/bin/shutdown.sh

User=tomcat
Group=tomcat

[Install]
WantedBy=multi-user.target