# {{ ansible_managed }}
# Systemd unit file for nginx
[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target tomcat.service

[Service]
Type=forking
ExecStartPre={{ nginx_path }}/bin/nginx -c {{ nginx_path }}/conf/nginx.conf -t
ExecStart={{ nginx_path }}/bin/nginx -c {{ nginx_path }}/conf/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

User=nginx
Group=nginx

[Install]
WantedBy=multi-user.target